* {
    font-size: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator-container {
    background-color: #baffc2;
    padding: 20px;
    max-width: 900px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 20px;
    left: 20px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 30px;
}

input, select {
    height: 35px;
    border-radius: 10px;
    background-color: #baffc2;
    border: 1px dashed #ff0000;
}

button {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    background-color: rgba(186, 255, 194, 0.5);
    border-radius: 15px;
    border: 2px solid #ff0000;
    text-align: center;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: rgba(186, 255, 194, 0.8);
}

.results {
    padding: 10px;
    min-height: 50px;
    width: calc(100% - 40px);
    border-radius: 10px;
    border: 1px dashed #ff0000;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

#history {
    width: calc(100% - 40px);
}

@media (max-width: 800px) {
    .input {
        flex-direction: column; 
        align-items: center;
        gap: 15px;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    button {
        width: auto; 
        margin-top: 10px;
        text-align:center
     }
}
